.part1 {
    background-color: black;
    color: red;
   /* display: block;
    width: 150px;
    float: left */
   }

   .part2{
    background-color: darkred;
    color: green;
   }
   .part3{
    color: green;
   }

   .part4 > p{
   
    color: green;
   }
   .red {
    background-color: red;
    overflow: auto;
   }